.ps4-controller {
    display: block;
    justify-content: default;
}
.circle {
  height: 250px;
  width: 250px;
  background-color: #FF0000
;
  border-radius: 50%;
  border: black;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Comic Sans MS";
  font-size: 50px;
  cursor: pointer;
}
